Django==3.0.7
django-appconf==1.0.4
django-heroku==0.3.1
django-bootstrap4==2.1.1
django-imagekit==4.0.2
fastai
gunicorn==20.0.4
pickleshare==0.7.5
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp38-cp38-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.7.0%2Bcpu-cp38-cp38-linux_x86_64.whl
whitenoise==5.1.0
